.about {
    border-top: black solid 2px;
    padding-bottom: 0px;
    
    .alignRight {
        text-align: right;
    }
    
    h2 {
        display: inline-block;
        position: relative;
    
        &::after {
            position: absolute;
            content: '';
            height: 2px;
            bottom: -6px;
            left: 1;
            right: 0;
            width: 300px;
            background: $neonYellow;
        }
    }

    .aboutContainer {
        display: flex;
        gap: 40px;
        @include breakpoint(medium) {
            flex-direction: column-reverse;
        }
    }

    .aboutTxt {
        text-align: left;

        p {
            margin-bottom: 20px;
        }

    }

    .aboutImg {
        display: flex;
        justify-content: center;
    }
    .aboutImg, .aboutTxt {
        flex: 1;
    }

    img {
        @include breakpoint(medium) {
            width: 80%;
        }
    }


}