.contact {
    border-top: 2px solid black;

    h2 {
        display: inline-block;
        position: relative;
        
        &::after {
            position: absolute;
            content: '';
            height: 2px;
            bottom: -6px;
            left: 0;
            right: 0;
            width: 370px;
            background: $neonYellow;
        }
    }
    
    

    .contactContainer {
        display: flex;
        gap: 30px;

        @include breakpoint(medium) {
            flex-direction: column;
        }
    }

    .rightColumn, .leftColumn {
        flex: 1;
    }

    .contactTxt {
        margin-bottom: 50px;

        @include breakpoint(medium) {
            text-align: center;
        }
    }
    .contactLinks {
        @include fontSize(50);

        @include breakpoint(medium) {
            display: flex;
            justify-content: center;
            margin-bottom: 40px;
        }
        
    }

    ul {
        display: flex;
        gap: 50px;

    }

    a {
        color: $black;
    }

    form {
        display: flex;
        text-transform: uppercase;
        align-items: center;
        flex-direction: column;
        gap: 20px;

        input, textarea {
            text-transform: uppercase;
            width: 90%;
            margin-bottom: 10px;
            background-color: transparent;
            border: 0;
            border-bottom: 2px solid black;
            outline: none;
        }
        button {
            width: 30%;
            text-transform: uppercase;
            padding: 10px 0px;
            background-color: none;
            
        }
    }
}