//fonts
$mainFont: "Vanilla Ravioli";
$bodyFont: 'Poppins', sans-serif;
$vindeaFont: "Vindea";
$RomanceFont: "Romance";
$CoconatBoldFont: "Coconat Bold";
$CoconatRegFont: "Coconat Reg";


//colors 

$lightBeige: #dddcd1;
$mediumBeige: #c9c0ae;
$darkBeige: #aba192;
$neonYellow: #d8fc89;
$black: #1e1c21;